.xembaiviet-button_Blog {
    background-color: rgba(252, 139, 25, 1);
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "work stans";
    font-size: 15px;
    width: 154px;
    height: 34px;
}
  
.xembaiviet-button_Blog:hover {
    background-color: 
    rgba(53, 166, 59, 1);
    color: white;
    position: none;
}

